{% block content %}



<div>

    <div>
        <div>

            <h3>Account Login</h3>
        </div>
        <a href="/">Back</a>

        <form action="" method="POST">
            {% csrf_token %}
            <!-- Input:Username -->
            <div>
                <label>Username: </label>
                <input type="text" name="username" placeholder="Enter your username..." />
            </div>

            <!-- Input:Password -->
            <div>
                <label>Password: </label>
                <input type="password" name="password" placeholder="••••••••" />
            </div>
            <div>
                <input type="submit" value="Log In" />
                <a href="{% url 'reset_password' %}">Forget Password?</a>

            </div>
        </form>
        <div>
            <p>Don’t have an Account?</p>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}